{% extends 'base.html' %}

{% block title %}List Page{% endblock title %}

{% block content %}
    <h1>Posts</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in post_list %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle }}</h6>
                    <p class="card-text">{{ post.body|truncatechars:200}}</p>
                    <a href="{% url 'detail' post.id %}" class="card-link">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}